@import "./src/assets/styles/mixin";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;

  @include md {
    padding: 0 15px;
  }

  span {
    font-size: 15px;
    font-weight: 500;

    @include md {
      font-size: 25px;
    }
  }
}