@import "./src/assets/styles/mixin";

.wrapper {
  position: relative;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 10px;
  }

  input {
    padding-left: 40px;
    min-height: 40px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
    border: 1px solid black;
    background-color: var(--color-background);

    &:focus {
      outline: none !important;
    }
  }
}