@import "./src/assets/styles/mixin";

.searchInput {
  margin: 0 15px 0 15px;
  width: 100%;

  input {
    width: 100%;
  }

  @include md {
    margin: 0 15px 0 30px;

    input {
      width: initial;
    }
  }
}