@import "./src/assets/styles/mixin";

.box {
  max-width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  min-height: 160px;

  @include md {
    min-height: 220px;
    padding: 15px;
  }
}

.photo {
  max-width: 80px;
  @include md {
    max-width: initial;
  }
}

.description {
  display: flex;
  max-width: 100%;
  span {
    padding: 5px 0;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    font-size: 15px;

    @include md {
      padding: 10px 0;
      font-size: 18px;
    }
  }
}

.country {
  p {
    font-size: 14px;
    font-weight: 300;

    @include md {
      font-size: 17px;
    }
  }
}

.photo {
  border-radius: 50%;
}