@import "../../assets/styles/mixin";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);


  h1 {
    font-weight: 700;
    font-size: 20px;
    @include md {
      font-size: 30px;
    }
  }
}