@import "../src/assets/styles/mixin";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px calc(100vh - 235px);

  @include md {
    grid-template-rows: 135px 100px calc(100vh - 235px);
  }

  .search {
    display: flex;
    align-items: center;
  }
}

.searchInput {
  padding-left: 30px;
}