@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import "mixin";

:root {
  --color-background: #dccae1;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 500;
  background-color: var(--color-background);
}